.macosx-bg {
	position: relative;
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	/* Deep blue vertical gradient with pinstripes */
	background: var(--bg-gradient);
}
.mac-login-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.apple-logo-large {
	position: absolute;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.2;
}

.logo-container {
	width: 500px;
	height: 500px;
	position: relative;
}

.logo-container img {
	opacity: 0.7;
}

.login-panel-container {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.login-panel-title {
	text-align: center;
	font-weight: 600;
	font-size: 2rem;
	line-height: 4rem;
	color: var(--text);
}

.login-panel {
	width: 87vw;
	max-width: 700px;
	border-radius: 16px;
	padding: 64px 32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(
		120deg,
		rgba(255, 255, 255, 0.346) 0%,
		rgba(100, 100, 100, 0.127) 100%
	);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.2),
		0 0 30px rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.183);
}

.login-button-container {
	display: flex;
	justify-content: flex-end;
}

.login-button {
	border-radius: 2rem;
	padding: 0 32px;
	height: 32px;
	font-size: 14px;
	font-weight: 500;
	background: var(--primary);
	border: 1px solid rgba(255, 255, 255, 0.186);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	color: var(--text);
	cursor: pointer;
}
.user-icon-container {
	padding-block: 2rem;
}
.user-name {
	color: var(--text);
	font-weight: 500;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	line-height: 4rem;
	font-weight: 700;
}

.login-button:hover {
	background: linear-gradient(
		120deg,
		var(--secondary) 0%,
		rgb(120, 116, 116) 100%
	);
}

.login-panel-hr {
	width: 100%;
	border: none;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
}
.system-info {
	position: absolute;
	bottom: 25px;
	right: 16px;
	color: var(--text);
	font-size: 0.75rem;
}
