.user-icons-container {
	margin-bottom: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.user-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s ease;
}

.user-icon:hover:not(.selected) {
	transform: scale(1.05);
}

.user-icon.selected {
	transform: scale(1.1);
}

.avatar-container {
	position: relative;
    background-color: aliceblue;
	width: 64px;
	height: 64px;
	margin-bottom: 8px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.user-icon.selected .avatar-container {
	box-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
		0 0 5px rgba(255, 255, 255, 0.3);
	border: 2px solid rgba(255, 255, 255, 0.3);
}

.avatar-image {
	object-fit: cover;
	background: linear-gradient(to bottom, #e0e0e0, #b0b0b0);
}

.user-name {
	color: white;
	font-size: 14px;
	font-weight: 500;
	font-family: "Lucida Grande", sans-serif;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
