@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap");

:root {
	--bg: #2a2828;
	--primary: hsl(0, 62%, 32%);
	--secondary: hsl(204, 92%, 38%);
	--highlight: #bfb263;
	--text: #dcdada;
	--bg-gradient: repeating-linear-gradient(
			to left,
			rgb(238 228 228 / 13%) 0px,
			rgb(255 255 255 / 10%) 1px,
			transparent 1px,
			transparent 15px
		),
		linear-gradient(180deg, hsl(0 2% 16% / 1) 0%, hsl(204 92% 3% / 1) 100%);
	--bit-font: "Press Start 2P", system-ui;
	--orbit-font: "Orbitron", sans-serif;
}
.bit-font {
	font-family: "Press Start 2P", system-ui;
	font-weight: 400;
	font-style: normal;
}

.orbit-font {
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	columns: rgb(145, 73, 73);
}
body {
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	text-align: center;
	position: relative;
	height: 100vh;
	background-image: url("../public/images//windows.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 80%;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
#main-content {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
}

.nav-bar {
	display: flex;
	align-items: center;
	padding-block: 0.3rem;
	justify-content: space-around;
	width: 87%;
	height: fit-content;
	background-color: #c6c6c68a;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	font-size: 13px;
}
.nav-bar a:hover {
	transform: scale(1.15);
}
.nav-bar a img {
	width: 30px;
	height: 30px;
}
.nav-logo {
	width: 50px;
	animation: App-logo-spin infinite 20s linear;
}
.macos-text {
	font-size: 14px;
	padding-left: 40%;
	white-space: nowrap;
	color: aliceblue;
}
.macos-buttons {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: none;
	margin: 5px;
	cursor: pointer;
}

.macos-button-box .red {
	background-color: #ff5f56;
}
.macos-button-box .yellow {
	background-color: #ffd700;
}
.macos-button-box .green {
	background-color: #00ff00;
}
.macos-button-box {
	width: 100%;
	height: 20px;
	display: flex;
	padding-left: 1rem;
	background-color: #3d3d42;
	border-bottom: 1px solid #232327;
	border-top: none;
	border-left: none;
	border-right: none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#container {
	background-color: hsla(240, 11%, 95%, 0.425);
	backdrop-filter: blur(3px);
	width: 90%;
	border-radius: 15px;
	height: 80vh;
	border: 2px solid #333;
	display: flex;
	position: relative;
	border: none;
}

.box {
	position: absolute;
	background-color: transparent;
	border: none;
	width: 90px;
	height: auto;
	max-width: 20 0px;
	margin: 2rem;
}
.top-dock {
	display: flex;
	justify-content: space-between;
	text-align: start;
	align-items: center;
	width: 100%;
	height: 1rem;
	color: whitesmoke;
	background-color: #06060895;
	margin-bottom: 0.8rem;
	padding-left: 1rem;
	gap: 1rem;
	white-space: nowrap;
	/* border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; */
}
#top-dock-logo {
	margin-inline: 0.5rem;
	fill: white;
	display: flex;
	align-items: center;
}
.top-dock-text {
	font-weight: 800;
}
.top-dock-right {
	display: flex;
	align-items: center;
	width: 4rem;
	margin-inline: 1rem;
	font-weight: 500;
	color: whitesmoke;
}
.top-dock-left {
	font-size: 10px;
	color: whitesmoke;
	margin-inline: 1rem;
}

.splash-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #3d3d42;
	color: white;
	font-size: 2rem;
	text-align: center;
}

.splash-logo {
	animation: Grow infinite 7s linear;
}
.atom-logo {
	clip-path: circle(50% at 50% 47%);
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
@media screen and (max-width: 600px) {
	.App {
		background-position: 20% 30%;
	}
	.nav-bar a img {
		width: 24px;
		height: 30px;
	}
	.box {
		width: 60px;
	}
	.macos-text {
		font-size: 10px;
		white-space: nowrap;
		text-align: center;
		margin-block: auto;
		margin-right: -2px;
		width: 100%;
		display: none;
	}

	#container {
		width: 85%;
	}
	.top-dock-date {
		display: none;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
		/* transform: rotateX(150deg); */
	}
}

@keyframes Grow {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.3);
		/* transform: rotateX(150deg); */
	}
}
