body {
	background: var(--bg-gradient);
}
#main-content {
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	position: relative;
	height: 100vh;
}

#container {
	width: 97%;
	height: 90vh;
	display: flex;
	position: relative;
	border: none;
}
.macos-text {
	font-size: 14px;
	padding-left: 40%;
	white-space: nowrap;
}
.macos-buttons {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: none;
	margin: 5px;
	cursor: pointer;
}

.macos-button-box .red {
	background-color: var(--primary);
}
.macos-button-box .yellow {
	background-color: var(--highlight);
}
.macos-button-box .green {
	background-color: var(--secondary);
}
.macos-button-box {
	width: 100%;
	height: 20px;
	display: flex;
	padding-left: 1rem;
	border-radius: 35px;

	background-color: #3d3d42;
	border-bottom: 1px solid #232327;
	border-top: none;
	border-left: none;
	border-right: none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.draggable-item {
	display: flex;
	justify-content: end;
	align-items: center;
	flex-direction: column;
}
.window{
	width: 90vw;
	height: 75vh;
}